
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>douban book search demo</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body{
            line-height: 1.6;
        }
        .mt-20{
            margin-top: 20px;
        }        
        .book-item{
            margin-top: 20px;
            margin-bottom:  20px;
            padding: 20px 0;
            border-bottom: 1px solid #eee;
        }
        .book-item-main {
            position: relative;
        }
        .book-item-main p{
            margin: 0;
        }
        .book-item-title{
            margin: 0 60px 10px 0;
        }
        .book-item-meta span, .book-item-meta label{
            margin-right: 10px;
        }
        .book-item-price{
            position: absolute;
            top: 0;
            right: 12px;
            font-size: 16px;
        }
        .book-item-avatar img{
            width: 100px;
            height: 148px;
        }

        .rate-icon{
            display: inline-block;
            width: 96px;
            height: 22px;
            background: url(../images/rating-stars.png) no-repeat;
            vertical-align: middle;
        }
        .rate-0{
            background-position: 0 -110px
        }
        .rate-1{
            background-position: 0 -88px
        }
        .rate-2{
            background-position: 0 -66px
        }
        .rate-3{
            background-position: 0 -44px
        }
        .rate-4{
            background-position: 0 -22px;
        }

        .global-loading{
            position: fixed;
            bottom: 50px;
            right: 50px;
            width: 50px;
            height: 50px;
        }        
    </style>
</head>
<body>
    <div id="douban" class="container">
        <router-view></router-view>
    </div>
    <script type="text/x-template" id="bookHome">
        <div class="main">
            <div class="book-search mt-20 row">
                <form>
                    <div class="form-group col-md-12 col-sm-12">
                        <input class="form-control" type="search" name="search" value="" placeholder="请输入书名|ISBN" v-model="searchKey">
                    </div>
                </form>
            </div>  
        </div>    
    </script>    
    <script type="text/x-template" id="books">
        <div class="main">
            <div class="book-search mt-20 row">
                <form>
                    <div class="form-group col-md-12 col-sm-12">
                        <input class="form-control" type="search" name="search" value="" placeholder="请输入书名|ISBN" v-model="searchKey">
                    </div>
                </form>
            </div>  
            <div class="book-result">
                <div class="global-loading text-center"><img src="./loading-spokes.svg"  v-show="loading" width="24" height="24"></div>
                <div class="found-result" v-if="!notFound && !loading && !initial">
                    您要找的{{ searchKey }},共{{ total }}条内容.
                </div>               
                <div class="book-lists">
                    <div class="book-item"  v-for="book in books" :key="book.id" :data-id="book.id" :data-url="book.url">
                        <div class="row">
                            <div class="book-item-avatar col-md-2 col-sm-3"><router-link :to="'/book/' + book.id " ><img :src="book.image" :alt="book.alt"></router-link></div>
                            <div class="book-item-main col-md-10 col-sm-9">
                                <h3 class="book-item-title"><router-link :to="'/book/' + book.id ">{{ book.title }}</router-link></h3>
                                <p v-if="book.subtitle" class="book-item-meta book-item-sub">{{ book.subtitle }}</p>
                                <p class="book-item-meta"><label>作者:</label><span v-for="au in book.author">{{au}}</span></p>
                                <p class="book-item-meta"><label>出版社:</label><span>{{book.publisher}}</span></p>
                                <p class="book-item-meta book-item-rate"><span class="rate-icon" :class="'rate-'+  Math.round(book.rating.average)/2"></span><span>{{book.rating.average}}</span><router-link :to="'/book/' + book.id " >({{book.rating.numRaters}}人评价)</router-link></p>
                                <p class="book-item-summary">{{ book.summary | formaterSummary}}</p>
                                <p class="book-item-price">{{ book.price | formaterPrice }}</p>
                            </div>
                        </div>
                    </div>
                </div><!-- end for book-lists-->
                <pagination :current="currentPage" :total="totalPage" :searchWord="searchKey"></pagination>
                <div class="found-nothing" v-if="notFound && !loading">
                    您要找的{{ searchKey }},我们找不到对应关键字的图书
                </div>            
            </div>
        </div>    
    </script>
    <script type="text/x-template" id="pagination">
        <nav class="text-center" aria-label="Page navigation" v-if="total">
            <ul class="pagination" >
                <li :class="{'disabled' : current == 1}" >
                    <router-link :to="'/search/' + searchWord "  aria-label="Previous"><span aria-hidden="true">&laquo;</span></router-link>
                </li>
                <li v-for="index in pages"  :class="{'active':current == index}" :key="index">
                    <router-link :to="'/search/'  + searchWord + '/' + index " >{{index}}</router-link>
                </li>
                <li :class="{'disabled' : total == current }" >
                    <router-link :to="'/search/' + searchWord + '/' + total "  aria-label="Next"><span aria-hidden="true">&raquo;</span></router-link>
                </li>
            </ul>
        </nav>
    </script>      
    <script type="text/x-template" id="book">
        <div class="main">
            <div class="book-det mt-20">
                <div class="row"><img src="./loading-spokes.svg"  v-if="!book" style="margin: 0 0 0 40px;" width="24" height="24"></div>
                <div class="row" v-if="book">
                    <div class="book-item-avatar col-md-2 col-sm-3"><img :src="book.image" :alt="book.alt"></div>
                    <div class="book-item-main col-md-10 col-sm-9">
                        <h3 class="book-item-title">{{ book.title }}</h3>
                        <p v-if="book.subtitle" class="book-item-meta book-item-sub">{{ book.subtitle }}</p>
                        <p class="book-item-meta"><label>作者:</label><span v-for="au in book.author">{{au}}</span></p>
                        <p v-if="book.translator && book.translator.length" class="book-item-meta"><label>译者:</label><span v-for="trans in book.translator">{{ trans }}</span></p>
                        <p class="book-item-meta"><label>出版社:</label><span>{{book.publisher}}</span></p>
                        <p class="book-item-meta"><label>出版日期:</label><span>{{book.pubdate}}</span></p>
                        <p class="book-item-meta book-item-rate"><span class="rate-icon" :class="'rate-'+  Math.round(book.rating.average)/2"></span><span>{{book.rating.average}}</span><a :href="'./bookreview.html?id=' + book.id" target="_blank">({{book.rating.numRaters}}人评价)</a></p>
                        <p class="book-item-price">{{ book.price | formaterPrice }}</p>
                    </div>
                </div>
                <div class="book-det-main mt-20"  v-if="book" >
                    <ul class="nav nav-tabs" id="bookDetTab">
                        <li role="presentation" class="active"><a href="#summary">简介</a></li>
                        <li role="presentation"><a href="#catalog">目录</a></li>
                        <li role="presentation"><a href="#author">作者简介</a></li>
                    </ul>
                    <div class="tab-content mt-20">
                        <div role="tabpanel"  class="tab-pane active" id="summary">
                            {{ book.summary }}
                        </div>
                        <div role="tabpanel"  class="tab-pane" id="catalog" v-html="catalogHTML">
                        </div> 
                        <div role="tabpanel"  class="tab-pane active" id="author">
                            {{ book.author_intro }}
                        </div>                   
                    </div>
                </div>
            </div>
            <div class="book-reviews mt-20 ">
                <div class="book-search-ing text-center"></div>
                <div class="book-lists">
                    <div class="book-item"  v-for="review in reviews" :key="review.id" :data-id="review.id" :data-url="review.url">
                    </div>
                </div><!-- end for book-lists-->
            </div>
        </div>    
    </script>  
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
        var baseApiUrl = 'https://api.douban.com/',
            bookFetchXHR,
            count = 20,
            bookFetchTimer;

        //注册分页组件
        Vue.component("pagination",{
            template:"#pagination",
            props: {
                current: {
                    type: Number,
                    required: true
                },
                showItem: {
                    type: Number,
                    default: 5,
                },
                total: {
                    type: Number,
                    required: true
                },
                searchWord: {
                    type: String,
                }
            },
            computed:{
                pages:function(){
                    var pag = [],
                        current  = this.current,
                        showItem = this.showItem,
                        total = this.total,
                        i;

                        //前面<=length页
                        for(i = current - showItem ; i < current ; i++){
                            if(i < 1){continue;}
                            pag.push(i);
                        }

                        //当前页
                        pag.push(current);

                        //后面<=length-1页
                        for(i = current + 1; i < current + showItem; i++){
                            if(i > total){break;}
                            pag.push(i);
                        }
                        return pag
                    }
            },
        }); 

        var BookHome = {
            template: "#bookHome",
            component: {
                // pagination: pagination
            },
            data: function(){
               return  {
                    searchKey: "",
                }
            },
            filters: {
                
            },
            watch: {
                searchKey: function(value){
                    var that = this;
                    clearTimeout(bookFetchTimer);
                    // 会报错
                    // //如果发了请求且请求没完成，abort掉
                    // if(bookFetchXHR && bookFetchXHR.readyState != 4){
                    //     bookFetchXHR.abort();
                    // }
                    bookFetchTimer = setTimeout(function(){
                        // that.fetchSearchData(value);
                        that.$router.push({
                            name: "books",
                            params: {
                                key: value
                            } 
                        });
                    }, 500);
                },
            }
        };

        var Books = {
            template: "#books",
            component: {
                // pagination: pagination
            },
            data: function(){
               return  {
                    searchKey: "",
                    books: [],
                    total: 0,
                    start: 0,
                    createdEvent: true,
                    initial: true,
                    loading: false,
                }
            },
            computed: {
                notFound: function(){
                    return !this.books.length && !this.initial;
                },
                currentPage: function(){
                    return (this.start / count) + 1 ;
                },
                totalPage: function(){
                    return Math.ceil(this.total / count)
                } 
            },
            created: function(){
                //this.fetchData();
                var key = this.$route.params.key,
                    page = this.$route.params.id;
                console.log(this);
                if(key){
                    this.searchKey = key;
                    this.fetchSearchData(key, page ?  (parseInt(page, 10) -1) : 0);
                }
            },
            filters: {
                formaterSummary: function(v, len){
                    len = len || 100
                    return  v.length > len ?  v.slice(0, len) + "..." : v;
                },
                formaterPrice: function(v){
                    var pairs = v.split(/\s+/);
                    if(pairs.length == 1){
                        return v;
                    }
                    if(pairs[0] == "CNY"){
                        return pairs[1] + "元"
                    }else{
                        return pairs[1] + "美元"
                    }
                }
            },
            watch: {
                searchKey: function(value){
                    var that = this;
                    clearTimeout(bookFetchTimer);
                    // 会报错
                    // //如果发了请求且请求没完成，abort掉
                    // if(bookFetchXHR && bookFetchXHR.readyState != 4){
                    //     bookFetchXHR.abort();
                    // }
                    if(this.createdEvent){
                        this.createdEvent = false;
                        return false;
                    }
                    bookFetchTimer = setTimeout(function(){
                        // that.fetchSearchData(value);
                        that.$router.push({
                            name: "books",
                            params: {
                                key: value
                            } 
                        });
                    }, 500);
                },
                '$route':  function(to, from){
                    console.log(to, from);
                    var key = to.params.key,
                        page = to.params.id;
                    if(key){
                        this.fetchSearchData(to.params.key, page ?  (parseInt(page, 10) -1) : 0);
                    }
                }
            },
            methods: {
                fetchSearchData: function(v, index){
                    var that = this;
                    index = index || 0;

                    bookFetchXHR = $.ajax({
                        url: baseApiUrl + "/v2/book/search?q=" + v + "&start=" + index * count,
                        dataType: "jsonp",
                        type: "GET",
                        beforeSend: function(){
                            that.loading = true;
                        }
                    }).done(function(data){
                        that.books = data.books;
                        that.total = data.total;
                        that.start = data.start;
                    }).always(function(){
                        that.loading = false;
                        that.initial = false;
                    });
                },
            }            
        };

        var Book = {
            template: "#book",
            data: function(){
              return  {
                    book: null,
                    reviews: [],
                    loading: false,
                }
            },
            component: [

            ],
            computed: {
                catalogHTML: function(){
                    var catalog = this.book && this.book.catalog ?  this.book.catalog : "";
                    return catalog.replace(/\n/g, "<br />")
                }
            },
            created: function(){
                this.fetchData(this.$route.params.id);
            },
            filters: {
                formaterSummary: function(v, len){
                    len = len || 100
                    return  v.length > len ?  v.slice(0, len) + "..." : v;
                },
                formaterPrice: function(v){
                    var pairs = v.split(/\s+/);
                    if(pairs.length == 1){
                        return v;
                    }
                    if(pairs[0] == "CNY"){
                        return pairs[1] + "元"
                    }else{
                        return pairs[1] + "美元"
                    }
                }
            },
            watch: {
            },
            methods: {
                fetchData: function(id){
                    var that = this;

                    $.ajax({
                        url: baseApiUrl + "/v2/book/" + id,
                        dataType: "jsonp",
                        type: "GET"
                    }).done(function(data){
                        that.book = data;
                        //initial tab
                        Vue.nextTick(function(){
                            $('#bookDetTab a').click(function (e) {
                                e.preventDefault()
                                $(this).tab('show')
                            })
                        });
                    });
                },
            }            
        }


        //定义路由
        var routes = [
            {
                path: "/search/:key/:id?", component: Books, name: 'books'
            },
            {
                path: "/book/:id", component: Book,
            },
            {
                path: "/", component: BookHome
            }
        ];

        //实例化路由
        var router = new VueRouter({
            // mode: 'history',
            routes: routes
        });

        //实例化vue
        var vueapp = new Vue({
            el: "#douban",
            router: router
        });
    </script>
</body>
</html>
